
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');


.App {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: #008B8B  ;
 
}
.center-text {
  color: white;
  font-family: 'Baloo Tammudu 2', cursive;
  margin-top: 30px;
  
}

.content {
  font-size: x-large;
  align-items: stretch;
}

.total p {
  margin-top: 30px;
  color:white;
  font-weight: 900;
  font-size: 500%;

}

h1 {
  color: white;
  margin-top: 50%;
  font-weight: 900px;
}

input[type=number] {
  border: 2px solid lightgray;
  border-radius: 4px;
  width: 200px;
  font-size: x-large;
}

.button1 {
  padding: 10px 24px;
  margin-top: 10px;
  width: 100px;
  border-radius: 4px;
  border-color: white;


}