
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');


.App {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
 
}
.center-text {
  color: gray;
  font-family: 'Baloo Tammudu 2', cursive;
  margin-top: 30px;
  
}

